<<<<<<< HEAD


=======
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #333;
  padding: 0.5rem 1rem;
  position: relative;
}

.logo {
  color: white;
  font-size: 1.5rem;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.nav-links a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #ffcc00;
}

/* Hide hamburger icon by default */
.hamburger {
  display: none;
  font-size: 1.8rem;
  color: white;
  cursor: pointer;
}

/* Hide checkbox */
#menu-toggle {
  display: none;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .nav-links {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    flex-direction: column;
    background-color: #333;
    display: none;
  }

  #menu-toggle:checked+.hamburger+.nav-links {
    display: flex;
  }

  .nav-links li {
    text-align: center;
    padding: 1rem 0;
  }
}
>>>>>>> a1bc0595402204ca385b059cbf3a1e5c09df32b5
